.questions_container {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions_header {
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
  margin-top: 3%;
  font-size: 24pt;
  align-items: center;
}
table {
  width: 80%;
}
.button-pages {
  margin-left: 5px;
}
.button-pages.active {
  background-color: #3f51b5;
  color: aliceblue;
}
.button-pages:focus {
  outline: none;
}
.button-add-question {
  margin-left: 10px;
}
