.container {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
table {
  width: 80%;
}
.field {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.total {
  margin-left: 5%;
}
