.container {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
table {
  width: 80%;
}
.field {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.total {
  margin-left: 60%;
}
.AddButton {
  margin-left: 5%;
}
.button-pages {
  margin-left: 5px;
}
.button-pages.active {
  background-color: #3f51b5;
  color: aliceblue;
}
.button-pages:focus {
  outline: none;
}
